.container-home {
  background-image: url(../img/backgroundcontact.jpg);
  background-size: cover;
  background-position: bottom right;
  opacity: 0.8;
  position: absolute;
  width: 100% !important;
  height: 100%;
}
.buttonContact:hover {
  background-color: darkred;
}
